
doctype html
html
  head
    title wpcom.js
    link(rel="stylesheet", href="/main.css")
    script(src="/wpcom.js")
    script(src="/wpcom-proxy.js")

  body
    h1 WPCOM browser app
  script(src="/main.js")
